.title{
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 0 0 5px #fd833c, 0 0 15px #fd833c, 0 0 20px #fd833c, 0 0 40px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #ffe5a9;
    font-family: "Sacramento", cursive;
}
