.movieCard {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 0 0 15px #fd833c, 0 0 10px #ff0000;
    color: #ffe5a9;
    font-family: "Sacramento", cursive;
}

.movieImage {
    border-radius: 15px;
    background-color: azure;
}

@media (max-width: 560px) {
    .movieImage {
        width: 90%;
        height: auto;
    }
}